.app {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.app > div > button {
  font-size: large;
  border: solid 1px black;
  padding: 4px 10px;
  cursor: pointer;
}
